<div *ngIf="company.symbol">
    <table class="ms-Table app-table">
        <tr>
            <th style="width: 150px;">Symbol</th>
            <td style="width: 250px;">{{company.symbol}}</td>
            <th style="width: 150px;">Industry</th>
            <td style="width: 250px;">{{company.industry}}</td>
        </tr>
        <tr>
            <th>Company Name</th>
            <td>{{company.companyName}}</td>
            <th>Web</th>
            <td>{{company.website}}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td colspan="3">{{company.description}}</td>
        </tr>
        <tr>
            <th>CEO</th>
            <td>{{company.CEO}}</td>
            <th>Issue Type</th>
            <td>{{company.issueType}}</td>
        </tr>
    </table>
</div>