<div *ngIf="company.symbol">
    <table class="ms-Table app-table" style="width:300px;">
        <tr>
            <th>Symbol</th>
            <td>{{company.symbol}}</td>           
        </tr>
        <tr>
            <th>Industry</th>
            <td>{{company.industry}}</td>
        </tr>
        <tr>
            <th>Company Name</th>
            <td>{{company.companyName}}</td>            
        </tr>
        <tr>
            <th>Web</th>
            <td>{{company.website}}</td>
        </tr>
        <tr>
            <th colspan="2">Description</th>            
        </tr>
        <tr>
            <td colspan="2">{{company.description}}</td>
        </tr>
        <tr>
            <th>CEO</th>
            <td>{{company.CEO}}</td>            
        </tr>
        <tr>
            <th>Issue Type</th>
            <td>{{company.issueType}}</td>
        </tr>
    </table>
</div>