<div>
    <table class="ms-Table app-table">
        <tr>
            <th style="width: 150px;">Symbol</th>
            <td style="width: 250px;"></td>
            <th style="width: 150px;">Company Name</th>
            <td style="width: 250px;"></td>
        </tr>
        
    </table>

    <p/>

    <table>
        <tr>
            <th>Open</th>
            <td></td>
            <th>Close</th>
            <td></td>
        </tr>
        <tr>
            <th>High</th>
            <td></td>
            <th>Low</th>
            <td></td>
        </tr>
    </table>
</div>