
.grid-layout {
    display: grid;
}

.menu {
    grid-column: 1/4;
    grid-row: 1;
}

.left {
    grid-column: 1;
    grid-row: 2/4
}

.main {
    grid-column: 2/3;
    grid-row: 2/3;
}

.right {
    grid-column: 3;
    grid-row: 2
}

.console {
    grid-column: 2/4;
    grid-row: 3
}

