
.grid-layout {
    display: grid;
    grid-template-columns: 200px auto 200px;
    grid-template-rows: 35px auto 200px;
}

.menu {
    grid-column: 1/4;
    grid-row: 1;
}

.left {
    grid-column: 1;
    grid-row: 2/4;
    width: 20%;
    max-width: 200px;
}

.main {
    grid-column: 2/3;
    grid-row: 2/3;
}

.right {
    grid-column: 3;
    grid-row: 2
}

.console {
    grid-column: 2/4;
    grid-row: 3
}


ul {
    list-style-type: none;    
}

.app-table {
    table-layout: fixed;
    border: 1px solid #aaaaaa;    
}

.app-table th {
    vertical-align: top;
    text-align: left;
    border: 1px solid #aaaaaa;
}

.app-table td {
    vertical-align: top;
    text-align: left;
    border: 1px solid #aaaaaa;
}

